.gallery {
    padding: 100px 0;
}

.swiper {
    position: relative;
    max-width: 800px;
    margin: 0 auto 50px;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    position: relative;
    flex-shrink: 0;
    padding-bottom: 52.8%;
}
.swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.swiper-pagination-bullet {
    height: 2px;
    flex: 1 1 auto;
    background-color: rgb(0, 0, 0, 0.7);
    transition: all 0.5s;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background-color: rgb(245, 245, 245);
}
.swiper-pagination-lock {
    display: none;
}